/* css file */
*{
  font-size: medium;
  font-family: sans-serif;
}
.image{
  width: 300px;
  height: 600px;
}
.image-container{
 position: relative;
 padding: 30px;
}
.container{
  display: flex;
  flex-direction: row;
}
.image-text{
  position: absolute;
  bottom: 20px;
  display: flex;
  color: white;
  background-color: rgb(63, 62, 62);
  padding: 5px 10px;
  width: 93%;
}
.form_form{
  margin-top: 80px;
}
.text-para{
  font-size: 18px;
  font-weight: bold;
}
.field{
  border: none;
  display: table;
  display: flex;
  gap: 30px;
}
.input{
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  font-size: 0.7rem;
  text-transform: uppercase;
  opacity: 50%;
}
.first_name,
.last_name,
.email,
.password,
.phone_no,
.confirm_password:invalid{
  color: red;
}
.first_name,
.last_name,
.email,
.password,
.phone_no,
.confirm_password:valid{
  color: green;
}